# This is Git's per-user configuration file.
[user]
	name = ksewina
	email = 17175236+ksewina@users.noreply.github.com
# Please adapt and uncomment the following lines:
#	name = ks
#	email = konstantin.sewina@gmail.com
